[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
tensorboardx = "*"
tensorflow = "==1.15"
scipy = "*"
pyamg = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
